$about-bgcolor: white;
$about-textcolor: black;
$studieorter-bgcolor: rgb(75, 75, 75);
$studieorter-textcolor: rgb(182, 180, 180);
$studiepopulation-bgcolor: rgb(47, 47, 47);
$studiepopulation-textcolor: rgb(180, 179, 179);
$group-bgcolor: black;
$group-textcolor: lightgrey;
#about-text {
    background-color: $about-bgcolor;
    color: $about-textcolor;
    h2::after {
        background-color: $about-textcolor;
    }
}

#studieorter {
    background-color: $studieorter-bgcolor;
    color: $studieorter-textcolor;
    h2::after {
        background-color: $studieorter-textcolor;
    }
}

#studiepopulation {
    background-color: $studiepopulation-bgcolor;
    color: $studiepopulation-textcolor;
    h2::after {
        background-color: $studiepopulation-textcolor;
    }
}

#group2 {
    background-color: $group-bgcolor;
    color: $group-textcolor;
    h2::after {
        background-color: $group-textcolor;
    }
}