$bg-color: white;
$text-color: rgb(74, 74, 74);
$text-hover-color: lighten($text-color, 25);
footer {
    display: flex;
    justify-content: center;
    .container {
        width: 60%;
        position: relative;
        padding: 40px 50px;
        background-color: $bg-color;
        color: $text-color;
        display: flex;
        justify-content: center;
        gap: 10%;
        a {
            text-decoration: none;
            color: $text-color;
            transition: color 200ms;
            &:hover {
                color: $text-hover-color;
            }
        }
        &::before {
            border-radius: 10000px;
            background-color: lighten($text-color, 50);
            content: "";
            position: absolute;
            top: 1em;
            height: 3px;
            width: 50%;
        }
    }
}