$about-bgcolor: white;
$about-textcolor: black;
$group-bgcolor: rgb(75, 75, 75);
$group-textcolor: rgb(180, 180, 180);
$finances-bgcolor: rgb(47, 47, 47);
$finances-textcolor: rgb(180, 180, 180);
#about {
    h2::after {
        background-color: $about-textcolor;
    }
    color: $about-textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $about-bgcolor;
    color: $about-textcolor;
    a,
    p {
        padding-top: 10px;
    }
}

#group1 {
    background-color: $group-bgcolor;
    color: $group-textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h2::after {
        background-color: $group-textcolor;
    }
}

#finances {
    background-color: $finances-bgcolor;
    color: $finances-textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h2::after {
        background-color: $finances-textcolor;
    }
    .grid {
        display: grid;
        grid-template-columns: [a] 33% [b] 66%;
        grid-template-rows: [c] 20% [d] 80%;
        gap: 1em;
        img {
            width: 100%;
        }
        #image1 {
            grid-column: a / b;
            grid-row: c;
        }
        #image2 {
            grid-column: b;
            grid-row: c;
        }
        #image3 {
            grid-column: b;
            grid-row: d;
        }
    }
}