$track-color: transparent;
$thumb-color: rgb(87, 86, 86);
::-webkit-scrollbar {
    position: absolute;
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: $track-color;
}

::-webkit-scrollbar-thumb {
    min-height: 100px;
    max-height: 100px;
    background-clip: padding-box;
    display: inline-block;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10000px;
    background-color: $thumb-color;
    transition: border 200ms;
    &:hover {
        background-color: lighten($thumb-color, 5);
    }
}