*{margin: 2px; padding: 1px;}

body{
    background-color: orangered;
}

p{
    padding: 5px;
}

#centered{
    background-color: lime;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid purple;
    display: table;
}

#header{
    border-radius: 10%;
    border: 5px solid yellow;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 116, 139);
    color: white;
}

#col1{
    width: 20%;
    border-radius: 10%;
    border: 3px solid yellow;
    background-color: rgb(255, 116, 139);
    word-wrap: break-word;
    color: white;
    float: left;
}

#col2{
    width: 20%;
    border-radius: 10%;
    border: 3px solid yellow;
    background-color: rgb(255, 116, 139);
    word-wrap: break-word;
    color: white;
    float: left;
}

#content{
    width: 60%;
    border: 3px solid yellow;
    background-color: darkblue;
    color: white;
    border-radius: 10%;
    float: right;
}

#footer{
    border-radius: 30%;
    height: 5%;
    border: 5px solid yellow;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 116, 139);
    color: white;
    clear: both;
}